<div class="main-content">
  <div class="container-f luid">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header card-header-text card-header-rose">
            <div class="card-text">
              <h4 class="card-title">New Ticket</h4>
            </div>
          </div>

          <form>
            <div class="form-group mx-sm-3 mb-2">
              <mat-form-field>
                <mat-select multiple placeholder="Category*" [(ngModel)]="_cat" name="plumber" ariaLabel="Techies[0]"
                  id="tech_cat">
                  <mat-option *ngFor="let tech of categories" [value]="tech.id">
                    {{ tech.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <mat-form-field class="example-full-width">
                <input matInput type="address" [(ngModel)]="_addr" [ngModelOptions]="{standalone: true}" class="form-control" id="formGroupExampleInput2" placeholder="Address*" />
              </mat-form-field>
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Radius in Km*" [(ngModel)]="radius" name="mRadius" type="number"
                  class="form-control" id="tech_rad" />
              </mat-form-field>
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Additional Comment" [(ngModel)]="_note" name="nt"
                  class="form-control" id="idnt"></textarea>
              </mat-form-field>
            </div>
            <div class="card-footer">
              <button mat-raised-button type="submit" class="btn btn-fill btn-rose btn-block"
                (click)="searchButtonClick()" [disabled]="button_pressed">
                {{button_pressed ? 'Please wait...' : 'Search'}}
              </button>
              <div style="display: none;">
                <p id="madd"></p>
                <p id="mgeo"></p>
                <button mat-raised-button type="submit" id="assignBtnClick" class="btn btn-fill btn-rose btn-block"
                (click)="assignClicked()">
                Assign
              </button>
              <p id="assign-id"></p>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-text card-header-rose">
            <div class="card-text">
              <h4 class="card-title">Google Map</h4>
            </div>
          </div>
          <div class="card-content">
            <div #map id="map" class="mapSize"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>